<form action="<%= users_url %>" method="post">
    
    <label for="username">Username</label>
    <input type="text" name="user[username]" id="username">

    <br>

    <label for="password">Password</label>
    <input type="password" name="user[password]" id="password">

    <br>

    <input type="submit" value="Sign up">
</form>