<% action_url = ( action == :sign_up ? users_url : session_url ) %>
<% submit_value = (action == :sign_up ? "Sign up" : " Log in" ) %>

<form action="<%= action_url %>" method="post">

    <input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
    
    <label for="username">Username</label>
    <input type="text" name="user[username]" id="username">

    <br>

    <label for="password">Password</label>
    <input type="password" name="user[password]" id="password">

    <br>

    <input type="submit" value="<%= submit_value %>">
</form>